.small-card__container {
    margin-bottom: 15px;

    @media(min-width: 1000px) {
      width: 700px;
    }
}

.small-card__content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    box-sizing: border-box;
}

.small-card__image > img {
    width: 250px;
    min-width: 250px;
    margin-right: 20px;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card__title > h1 {
    font-size: 16px;
}

.small-card__description {
    margin-top: 15px;
}
